<?xml version="1.0"?>
<config>
    <modules>
        <Srcode_FacebookPixel>
            <version>0.1.0</version>
        </Srcode_FacebookPixel>
    </modules>
    <global>
        <blocks>
            <srcode_facebookpixel>
                <class>Srcode_FacebookPixel_Block</class>
            </srcode_facebookpixel>
        </blocks>
        <helpers>
            <srcode_facebookpixel>
                <class>Srcode_FacebookPixel_Helper</class>
            </srcode_facebookpixel>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Srcode_FacebookPixel>
                    <files>
                        <default>Srcode_FacebookPixel.csv</default>
                    </files>
                </Srcode_FacebookPixel>
            </modules>
        </translate>
        <layout>
            <updates>
                <srcode_facebookpixel>
                    <file>facebookpixel.xml</file>
                </srcode_facebookpixel>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Srcode_FacebookPixel>
                    <files>
                        <default>Srcode_FacebookPixelLayout.xml</default>
                    </files>
                </Srcode_FacebookPixel>
            </modules>
        </translate>

        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <inchoo>
                                            <title>Inchoo - All</title>
                                        </inchoo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

    </adminhtml>
    <default>
        <facebookpixel>
            <general>
                <enabled>0</enabled>
                <pixel_id>0</pixel_id>
            </general>
            <content>
                <viewcontent>0</viewcontent>
                <active>0</active>
                <search>0</search>
                <wishlist>0</wishlist>
                <new_account>0</new_account>
            </content>
            <checkout>
                <cart>0</cart>
                <checkout>0</checkout>
                <payment>0</payment>
                <purchase>0</purchase>
                <success>0</success>
            </checkout>
        </facebookpixel>
    </default>
</config>
